<link rel="stylesheet" href="/static/css/header/header-site.css">
<link rel="stylesheet" href="/static/css/register.css">
<link rel="stylesheet" href="/static/css/login.css">
<link rel="stylesheet" href="/static/css/product-list.css">
<link rel="stylesheet" href="/static/css/product-detail.css">
<link rel="stylesheet" href="/static/css/contact-us.css">
<link rel="stylesheet" href="/static/css/about-us.css">
<link rel="stylesheet" href="/static/css/home-site.css">
<link rel="stylesheet" href="/static/css/cart-site.css">
<link rel="stylesheet" href="/static/css/user-panel.css">